<h1 class='page-header'>Leaderboard</h1>

<% if flash[:notice].present? %>
  <div class="alert alert-info" role="info">
    <%= flash[:notice] %>
  </div>
<% end %>

<table class="table">
  <tr>
    <td>Rank</td>
    <td>Name</td>
    <td>Score</td>
    <td>Games Played</td>
  </tr>
  <%= render partial: 'user', collection: @users %>
</table>
